<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>喜只猫管理系统</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<#include "../common/header.html">

</head>
<body class="hold-transition skin-blue sidebar-mini">
	<OBJECT id="myActivex"
		classid="clsid:46059496-E96D-45D7-9DB4-2240411F1AF1"
		codebase="/embed/gzyct_ytp.cab#version=1,0,0,10" width="0" height="0"></OBJECT>
	<div class="wrapper">

		<!-- 	顶部和左侧菜单的jsp s -->
		<#include "../common/menu.html">
		<!-- 	顶部和左侧菜单的jsp e -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>编辑权限</h1>
			</section>



			<!-- Main content -->
			<section class="content" style="padding-bottom: 0px;" id="content">
				<!-- general form elements -->
				<div class="box box-primary" style="width: 1000px; margin: 0 auto;">
					<div class="box-header with-border">
						<h3 class="box-title">权限信息</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form action="/cloudpay/privilege/privilegeEditAction" method="post" id="formEdit">
					    <input type="hidden" id="roleId" name="id" value="${Request.privilege.id!}"/> 
						<div class="box-body">
							<div class="form-group">
								<label for="privilegeName">权限名称</label>
								<input type="text" class="form-control" id="privilegeName" name="privilegeName" value='${Request.privilege.privilegeName!}'/>
							</div>
							<div class="form-group">
								<label for="remark">备注</label> 
							    <input type="text" class="form-control" id="remark" name="remark" value="${Request.privilege.remark!}" /> 
							</div>
						</div>
						<!-- /.box-body  @click="submit"-->
						<div class="box-footer">
						   	<label class="control-label" id="errorLabel" for="inputError" style="color:#dd4b39; width: 370px; max-width: 500px"></label><br/>
							<button type="submit" class="btn btn-primary">提交</button>
							<button type="reset" class="btn btn-primary" >清空</button>
						</div>
					</form>
				</div>
				<!-- /.box -->
			</section>
			<!-- /.content -->
		</div>

	</div>
	<!-- ./wrapper -->
</body>
<script>
$(function() {
	//校验器
	var formValidator = $("#formEdit").validate(
			{
				onkeyup : false,
				focusInvalid : false,  //错误时,错误选项不会得到焦点
				focusCleanup : true,   //得到焦点时，清空错误提示信息
				rules : {						
					"privilegeName" : {
						required:true
					}
				},
				messages : {		
					"privilegeName" : {
						required:"权限名称不能为空"
					}
				}
			});
});

</script>
</html>